blinker==1.4
cachelib==0.7.0
charset-normalizer==2.1.0
click==8.1.2
colorama==0.4.4
cycler==0.11.0
dnspython==2.2.1
docopt==0.6.2
Flask==2.1.1
Flask-Cors==3.0.10
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-MySQLdb==1.0.1
Flask-PyMongo==2.3.0
Flask-Session==0.4.0
fonttools==4.32.0
gunicorn==20.0.4
idna==3.3
Jinja2==3.1.1
kiwisolver==1.4.2
MarkupSafe==1.1.1
matplotlib==3.5.1
mysqlclient==2.1.0
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pymongo==4.1.1
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
urllib3==1.26.10
waitress==2.1.2
Werkzeug==2.1.1
